.login {
    padding: 50px 0;
}
.google-img {
    width: 25px;
    height: 25px;
}
.login-btn:hover {
    background-color: red;
    color: white;
}
.login-link {
    color: black;
    text-decoration: none;
}
.login-link:hover {
    color: red;
}
.google-btn {
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    background-color: white;
    border: 1px white solid;
}
.google-btn:hover {
    background-color: rgb(237, 241, 232);
}
.message-class a {
    align-items: flex-end;
}
.admin-toast {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    right: 10px;
}
.admin-toast h3 {
    font-size: 15px;
}
