.top-banner {
    color: white;
    background-image: url(../../../images/event.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner {
    height: 600px;
}
.banner-content {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    opacity: 0.9;
}
.banner-content h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
.banner-content p {
    font-size: 18px;
    text-align: justify;
    padding: 0 20px;
}
.banner-content button {
    color: white;
    font-weight: bold;
}
.banner-content:hover {
    opacity: 1;
}
